.menu-container {
  position: relative;
  width: 14em;
  height: 90%;
  left: 0px;
  top: 1.46%;
  border-radius: 0px 0px 15px 0px;
  z-index: 999;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  letter-spacing: 0.1em;
}

.menu-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  position: relative;
  height: 3.8em;
  left: -24%;
  top: 0%;
  bottom: 89.68%;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.menu-button:hover {
  background-color: #ff9068;
  border-color: #ff9068;
}

.menu-open-icon {
  background-image: url(../../assets/menu_open-black-18dp/baseline_menu_open_black_18dp.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 100%;
  top: 0%;
  bottom: 89.68%;
}

.menu-open-icon:hover {
  background-image: url(../../assets/menu-white-18dp/baseline_menu_white_18dp.png);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-closed-icon:hover {
  background-image: url(../../assets/menu_open-white-18dp/baseline_menu_open_white_18dp.png);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-closed-icon {
  background-image: url(../../assets/menu-black-18dp/baseline_menu_black_18dp.png);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-header-container,
.menu-contents {
  display: grid;
}

.menu-header-text {
  background: -webkit-linear-gradient(left, #ff9068, #ff4b1f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-header-container p {
  position: relative;
  top: 24%;
  margin-top: 0em;
  letter-spacing: 0;
}

.menu-contents button {
  margin-bottom: 1em;
  color: #404040;
  letter-spacing: 0.1em;
}

.menu-contents button:hover {
  background-color: #334896;
  font-weight: bold;
  color: #fefefe;
}

.filter-container {
  position: relative;
  text-align: left;
  top: 8%;
}

.filter-container p {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 2em;
  margin-left: 1em;
  position: relative;
  top: -8%;
}

.filter-options-container {
  position: relative;
  display: grid;
  top: -16%;
  grid-template-columns: repeat(2, auto);
}

.filter-options-container label {
  font-weight: normal;
  font-size: 1.2em;
}

/*media queries*/
@media only screen and (max-height: 500px) {
  .menu-contents button {
    margin: 0.4em 0 0 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

  .filter-container p {
    margin-top: 1em;
  }

  .logged-user-text {
    margin: -1em;
  }
}

/* checkbox fix in Chrome29+ */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .filter-container input {
    margin: 1.4em;
  }
}
