.resource-modal-header {
  width: 100%;
  text-align: start;
}

#close-modal-button {
  background-image: url('../../assets/clear-black-18dp/2x/round_clear_black_18dp.png');
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 24px;
  height: 40px;
  right: 20px;
  top: 46px;
  background-color: #ffffff;
  border: none;
}

#close-modal-button:hover {
  background-color: #738ada;
}

/* dropdown menu*/
.dropdown-container {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-button {
  background-color: #ffffff;
  border: 1px solid #dedede;
  color: #000000;
  border-radius: 0%;
}

.dropdown-button:hover {
  background-color: #738ada;
  border: 1px solid #738ada;
}

.dropdown-input {
  width: 86%;
  border-radius: 0%;
}

.dropdown-content {
  position: relative;
  top: -8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  border: 1px solid #dedede;
}

.dropdown-content a {
  width: 100%;
}

.resource-modal-form {
  width: 100%;
  align-items: center;
}

.round-button {
  width: 193px;
  height: 44px;
  background: #738ada;
  border-color: #738ada;
  border-radius: 10px;
  margin-top: 24px;
}
