.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  margin: 0 auto;
  text-align: center;
  background-color: #738ada;
  opacity: 0.9;
}

#add-mode-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #0246a2;
  opacity: 0.8;
}

#add-mode-container p {
  font-size: 1.2em;
  margin: 0.8em;
  color: #fefefe;
}

#modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: #0246a2;
  opacity: 0.6;
}

.hidden-modal-background {
  display: none;
}
